---
---

@import "normalize";
@import "constants";
@import "eng_paper_background";

/* LAYOUT STYLES */
body {
  font-family: 'Proza Libre', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: $text;
}

.container {
  max-width: 900px;
}

h1, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $text;
}
code {
  font-family: 'PT Mono', Inconsolata, monospace;
}

header {
  h2, nav, ul, li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  nav {
    float: right;
  }
  h2, li {
    height: $header-height - 16px;
    padding: 14px 8px 2px;
    vertical-align: bottom;
  }
  h2 {
    margin-top: 10px;
  }
}

.hdr-link {
  transition: color .15s ease-in;
  color: rgba(0, 0, 0, 0.54);

  &:hover {
    //transition: color .15s ease-in;
    color: rgba(0, 0, 0, 0.87);
  }
}

.hdr-icon, .hdr-link-text {
  display: inline-block;
}

.hdr-icon {
  height: 32px;
  width: 32px;
}
.hdr-link-text {
  padding-right: 4px;
  margin-bottom: 8px;
  vertical-align: middle;
  @include for-phone-only {
    display: none;
  }
}

main {
  min-height: calc(100vh - 130px);

  @include for-tablet-landscape-up {
    min-height: calc(100vh - 177px);
  }

  padding: 8px 16px 24px;
  h1 {
    padding: 12px 24px;
    font-size: 45px;
    font-weight: 400;
    line-height: 72px;
    font-family: 'BioRhyme', serif;
    @include for-phone-only {
      font-size: 33px;
    }
  }
  h2 {
    font-family: 'BioRhyme', serif;
  }
  p {
    margin: -4px 0 4px;
    line-height: 24px;
    font-size: 16px;
  }
  p + p {
    margin-top: 24px;
  }
}

footer {
  height: $footer-height;
  padding: 8px;
}

.profile-pic {
  position: relative;
  float: right;
  margin-right: -8px;
  margin-left: 16px;
  transform: rotate(4deg);
  transform-origin: top right;

  &:hover {
    .polaroid {
      transform: rotate(-45deg);
      transition-duration: 350ms;
    }
  }
}
.code-behind {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.12);
  padding: 8px;
  font-size: 13px;
  word-break: break-word;
}
.polaroid {
  transform-origin: top right;
  position: relative;
  background-color: #fafafa;
  border-radius: 2px;
  padding: 8px 8px 48px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
  transition: transform 1s ease-in-out;
  @include for-phone-only {
    padding-bottom: 24px;
  }
}
.pic {
  width: 300px;
  height: 300px;
  @include for-phone-only {
    width: 120px;
    height: 120px;
  }
}
.project-list {
  margin: 0;
  li {
    margin-bottom: 8px;
  }
  a {
    color: #0091EA;
    font-weight: 600;
  }
}
