<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}

    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{{ site.title }} — {{ site.description }}</title>
  </head>

  <body>
    {% include header.html %}

    <main>
      <!-- Headline -->
      <h1>I write software.</h1>
      <div class="profile-pic">
        <div class="code-behind">
          <code>
            &lt;img src="/assets/images/me.jpg" height="300px" width="300px" /&gt;
          </code>
        </div>
        <div class="polaroid">
          <img src="/assets/images/me_picnic.jpg" height="300px" width="300px" />
        </div>
      </div>
      <p class="lead">
        ...in Javascript, Scala, Elm, Java, Ruby and Go. I'm also familiar with
        technologies like Docker, OAuth 2.0, Android, React.js, and many others.
      </p>

      <!-- Bio/Content -->

      <div class="content-main">
        {{ content }}
      </div>

      <h2>Projects</h2>
      <p>Here are some things I made.</p>
      <ul class="project-list">
      {% for project in site.data.projects %}
        <li>
          <a href="{{ project.link }}">{{ project.name }}</a> —
          {{ project.description }}
        </li>
      {% endfor %}
      </ul>

    </main>

    {% include footer.html %}
  </body>
</html>
