a {
  text-decoration: underline;
  color: #001b44;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: #b27629;
}

header a, h1 a, h2 a, h3 a {
  color: black;
  text-decoration: none;
}

p, ol, ul {
  max-width: 38em;
}
